<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>
    <!-- Include Bootstrap CSS for styling -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                {% if 'user' in session %}
                

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('list_faces') }}">Captured people</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('upload') }}">Add face</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('wanted_list') }}">Wanted list</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('search') }}">Search by image</a>
                    </li>

                   


                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Log out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        {% block content %}{% endblock %}
    </div>

    <!-- Include Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
