{% extends "base.html" %}

{% block content %}


<style>
    .drop-zone {
        border: 2px dashed #ccc;
        border-radius: 10px;
        width: 300px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Arial, sans-serif;
        font-size: 16px;
        color: #ccc;
        margin: 50px auto;
    }
    .drop-zone.dragover {
        border-color: #000;
        color: #000;
    }
    h1 {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .loading-screen {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 24px;
            display: none; /* Initially hidden */
        }
</style>

    

<h1>Drop the image of the person you want to search by.</h1>
<div class="drop-zone" id="drop-zone">
    Drag and drop Image here
</div>

<div class="loading-screen" id="loading-screen">Loading...</div>


<script src="{{ url_for('static', filename='main2.js') }}"></script>

{% endblock %}


    
